
body {
    background-color: black;
    color: #ffffff;
    margin: 0;
    padding: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
  } 
  .wrapper{
    min-height: 100vh;
    background: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
  }